@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  background-color: black;
  color: white;
}