@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  cursor: url("./cursor1.png") 1 1, auto;
}

html { scroll-behavior: smooth; }

body {
  /* overflow: hidden; */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  background-color: black;
  color: white;
}


.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}
